*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/backgrounndd.jpeg);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
}
.cabecera{
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 300px;
    justify-content: center;
}
.container{
  display: flex;
  gap: 60px;
}
#naveg{
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
#naveg:hover{
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
a{
  text-decoration: none;
}
#logo{
    width: 85px;
    margin-top: 5px;
}
.container-info{
  display: flex;
  flex-direction: column;
  margin-top: 230px;
  margin-left: 100px;
}
h1{
    font-family: 'Rock Salt', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px rgb(0, 102, 255);
    font-size: 40px;
}
h3{
    width: 450px;
    margin-left: 50px;
    font-weight: 100;
    color: white;
    font-size: 22px;
}
h4{
    color: white;
    margin-left: 920px;
    font-weight: 600;
    font-size: 16px;
}
button{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* .carruselLibros{
    display: flex;
    margin-left: 50px;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}
.carruselLibros img{
    width: 150px;
    height: 200px;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.carruselLibros img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px white;
} */


.carrusel-container {
  position: relative;
  width: 500px; 
  margin-left: 50px;
  margin-top: 30px;
  overflow: hidden; 
  border-radius: 10px;
  align-items: center;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out; 
}

.imagen {
  width: 200px; 
  height: 200px; 
  object-fit: cover;
  margin: 15px 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen.grande {
  transform: scale(1.1); 
  box-shadow: 0px 0px 10px rgb(255, 255, 255); 
}

.imagen.pequeña {
  transform: scale(0.9); 
}

.carrusel img {
  transition: transform 0.5s ease, opacity 0.5s ease;
}