*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}
.barraAzul{
    background-color: #9e2881;
    width: 100%;
    height: 24px;
    display:flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 500px;
}
.iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contenido{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.contenido img{
    width: 15px;
}
.contenido h4{
    font-weight: 100;
}


.cabecera{
    width: 100%;
    box-shadow: 2px 2px 12px rgb(172, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 495px;
}
.cabecera .iconUser{
    width: 70px;
}
.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.cabecera img{
    width: 250px;
}
.usuario{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buscador {
    margin: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 0px 100px;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    width: 500px;
    font-size: 1rem;
    border-radius: 20px 0 0 20px;
    outline: none;
    border: 1px solid rgb(165, 165, 165);
}

 #searchButton {
    padding: 10px 30px;
    font-size: 1rem;
    background-color: #3972b7;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background 0.1s ease;
}

#boton-prestar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 150px;
    font-size: 1rem;
    background-color: #3972b7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease;
}
button:hover {
    background-color: #AA0E5D;
}

.error-message {
    position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #3972b7; 
    color: #fff; 
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 1rem;
    margin-top: 30px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
}


.results {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e9ffe9;
    display: none; 
}

.container-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container-banner img{
    width: 1900px;
    height: 400px;
}

.catalogo-libros{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.catalogo-libros img{
    width: 150px;
    height: 200px;
    border-radius: 7px;
}
.imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tools{
    width: 100%;
    display: flex;
    justify-content: end;
}

.btnTools{
    padding: 10px 15px;
    background-color: #6f97c9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* width: 130px; */
    margin-right: 20px;
}

#libro:hover{
    background-color: #4c6e97;
}

.autor{
    background-color: rgb(119, 185, 119);
}

.autor:hover{
    background-color: rgb(75, 138, 75);
}

.genero{
    background-color: #be76ac;
}

.genero:hover{
    background-color: #8f4c7e;
}
.tools a{
    color: white;
    text-decoration: none;
}
.libro{
    position: relative;
    display: flex;
    flex-direction: column;
}
.libro button{
    margin-top: 10px;
    border: none;
    background-color:#3972b7;
    color: white;
    width: 140px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 100;
    cursor: pointer;
}
.descripcion{
    position: absolute;
    bottom: 100%; 
    top: 0;
    background-color:#23436b;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width: 130px;
    height: 180px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.libro:hover .descripcion{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
.libro h5{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 100;
}

footer{
    width: 100%;
    height: 310px;
    background-color: #1d4270;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}
.informacion{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.informacion a{
    text-decoration: none;
    color: white;
}
.informacion a:hover{
    color: #ce8ebe;
}
.tema{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.direccion{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-icons{
    gap: 20px;
}
.redes-s{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.redes-s img {
    width: 24px;
    transition: transform 0.2s ease-in-out;
}

.social-icons img:hover{
    width: 25px;
    transform:(1.1);
}

.derechos{
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    color: #d1d1d1;
    margin-top: 30px;
    margin-bottom: -10px;
}


@media (max-width:1845) {
    .logo{
        margin-left: 100px;
    }
    .contenido{
        gap:10px
    }
    .cabecera{
        gap:10px
    }
} 
 #boton-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 110px;
    font-size: 0.9rem;
    border-radius: 10px ;
    background-color: #3972b7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease;
}